<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Breadcrumbs -->
        <div class="bredcrumb_wrap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/client/stats">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/client/stats">Dashboard</a></li>
                    <li class="breadcrumb-item active" routerLink="/client/profile">My Profile</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

        <!-- Single Wrap -->
        <div class="_dashboard_content">
            <div class="_dashboard_content_header">
                <div class="_dashboard__header_flex">
                    <h4><i class="fa fa-user mr-1"></i>My Account</h4>
                </div>
            </div>

            <div class="_dashboard_content_body">
                <div class="row">
                    <div class="col-auto">
                        <div class="custom-file avater_uploads">
                            <input (change)="onFileSelected($event)" type="file" class="custom-file-input"
                                id="customFile">
                            <label class="custom-file-label" for="customFile"><i class="fa fa-user"></i></label>
                        </div>
                    </div>

                    <div class="col">
                        <form [formGroup]="updateForm" (ngSubmit)="saveProfile()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input formControlName="firstname" type="text"
                                            placeholder="Enter your first name" [ngClass]="{
                                            'form-control': true,
                                            'error': updateForm.controls['firstname'].invalid && updateForm.controls['firstname'].touched
                                          }" />
                                        @if (updateForm.controls['firstname'].touched &&
                                        updateForm.controls['firstname'].invalid) {
                                        <div class="text-danger">
                                            @if (updateForm.controls['firstname'].errors?.['required']) {
                                            <small>First name is required.</small>
                                            }
                                            @if (updateForm.controls['firstname'].errors?.['minlength']) {
                                            <small>First name must be at least 2 characters.</small>
                                            }
                                            @if (updateForm.controls['firstname'].errors?.['maxlength']) {
                                            <small>First name cannot exceed 50 characters.</small>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input formControlName="lastname" type="text" placeholder="Enter your last name"
                                            [ngClass]="{
                                            'form-control': true,
                                            'error': updateForm.controls['lastname'].invalid && updateForm.controls['lastname'].touched
                                          }" />
                                        @if (updateForm.controls['lastname'].touched &&
                                        updateForm.controls['lastname'].invalid) {
                                        <div class="text-danger">
                                            @if (updateForm.controls['lastname'].errors?.['required']) {
                                            <small>Last name is required.</small>
                                            }
                                            @if (updateForm.controls['lastname'].errors?.['minlength']) {
                                            <small>Last name must be at least 2 characters.</small>
                                            }
                                            @if (updateForm.controls['lastname'].errors?.['maxlength']) {
                                            <small>Last name cannot exceed 50 characters.</small>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input formControlName="email" type="text" placeholder="Enter your email"
                                            [ngClass]="{
                                            'form-control': true,
                                            'error': updateForm.controls['email'].invalid && updateForm.controls['email'].touched
                                          }" />
                                        @if (updateForm.controls['email'].touched &&
                                        updateForm.controls['email'].invalid) {
                                        <div class="text-danger">
                                            @if (updateForm.controls['email'].errors?.['required']) {
                                            <small>Email is required.</small>
                                            }
                                            @if (updateForm.controls['email'].errors?.['email']) {
                                            <small>Please enter a valid email address.</small>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input formControlName="password" type="password"
                                            placeholder="Enter your password" [ngClass]="{
                                            'form-control': true,
                                            'error': updateForm.controls['password'].invalid && updateForm.controls['password'].touched
                                          }" />
                                        @if (updateForm.controls['password'].touched &&
                                        updateForm.controls['password'].invalid) {
                                        <div class="text-danger">
                                            @if (updateForm.controls['password'].errors?.['minlength']) {
                                            <small>Password must be at least 5 characters.</small>
                                            }
                                            @if (updateForm.controls['password'].errors?.['maxlength']) {
                                            <small>Password cannot exceed 20 characters.</small>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <button type="submit" [disabled]="updateForm.invalid" class="btn btn-save">Save
                                Changes</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- Single Wrap End -->

    </div>
</div>